{% extends 'base.html.twig' %}

{% block title %} HOME {% endblock %}

{% block body %}
    <div class=" container-fluid row-auto">


        <div class="image_presentation ">
            <div class="container-responsive  p-2 m-2 text-center ">
                <img class="rounded-circle homeImage" src="{{ asset('images/bgHome.jpg') }}" alt="image"
                     href={{ path('recettes') }}>
                <button class="btn btn-order rounded-pill" style="width:10%" href={{ path('recettes') }}>Nos produits
                </button>
                <h3 style="font-size: 50px"> Bienvenu au saveur italien</h3>
            </div>
        </div>

        <section id="container">
            <div id="carousel">
                <figure><img
                            src="{{ asset('images/home1.jpg') }}" class="img-responsive">
                </figure>
                <figure><img
                            src="{{ asset('images/home2.jpg') }}" class="img-responsive">
                </figure>
                <figure><img
                            src="{{ asset('images/home3.jpg') }}" class="img-responsive">
                </figure>
                <figure><img
                            src="{{ asset('images/home4.jpg') }}" class="img-responsive">
                </figure>
                <figure><img
                            src="{{ asset('images/home5.jpg') }}" class="img-responsive">
                </figure>
                <figure><img
                            src="{{ asset('images/home6.jpg') }}" class="img-responsive">
                </figure>
                <figure><img
                            src="{{ asset('images/home7.jpg') }}" class="img-responsive" >
                </figure>
                <figure><img
                            src="{{ asset('images/home8.jpg') }}" class="img-responsive">
                </figure>
                <figure><img
                            src="{{ asset('images/home9.jpg') }}" class="img-responsive">
                </figure>
            </div>
        </section>


    </div>

{% endblock %}
