{% extends 'base.html.twig' %}

{% block title %} Recettes {% endblock %}

{% block monTitre %}<span class="glyphicon glyphicon-cutlery"></span> Nos produits <span
        class="glyphicon glyphicon-cutlery"></span> {% endblock %}
{% block body %}
    <div class="container site">

        <nav class="navMenu ">
            <ul class="nav nav-pills ">

                {% for categorie in categories %}
                    {% if categorie.id==1 %}
                        <li role="presentation" class="active"><a href="#{{ categorie.id }}"
                                                                  data-toggle="tab">{{ categorie.name }}</a></li>
                    {% else %}
                        <li role="presentation"><a href="#{{ categorie.id }}" data-toggle="tab">{{ categorie.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <div class="tab-content">

            {% for categorie in categories %}
            {% if categorie.id==1 %}
            <div class="tab-pane active" id="{{ categorie.id }}">
                {% else %}
                <div class="tab-pane" id="{{ categorie.id }}">
                    {% endif %}
                    <div class="row">
                        {% for recette in recettes %}
                            {% if (recette.categorie.id == categorie.id) %}
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <img src="{{ asset('images/'~categorie.name~'/'~recette.image) }}" alt="pizza"
                                             class="thumbnail">
                                        <div class="price">{{ recette.prix|number_format(2, '.') }} €</div>
                                        <div class="caption">
                                            <h4>{{ recette.nom }}</h4>
                                            <p>{{ recette.description }}</p>
                                            <a href="#" class="btn btn-order  btn-primary btn-lg" role="button"><span
                                                        class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
