{% extends 'base.html.twig' %}

{% block title %} Admin {% endblock %}

{% block monTitre %}<span class="glyphicon glyphicon-cutlery"></span> Administration  <span
        class="glyphicon glyphicon-cutlery"></span> {% endblock %}
{% block body %}

    <div class="container admin ">

        {% for message in app.flashes('success') %}
            <div class=" container rounded alert alert-success " role="alert">
                <strong>Alert !</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="container admin" style="border-radius: 10px; background: #FFFFFF; padding: 60px; font-size: 14px">

            <div class="row">

                {% for categorie in categories %}
                    <h1><strong> Liste des {{ categorie.name }}</strong> <a href="{{ path('admin_recette_creation') }}"
                                                                            class="btn btn-success btn-lg"><span
                                    class="glyphicon glyphicon-plus"></span> Ajouter</a></h1>

                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th> Nom</th>
                            <th> Description</th>
                            <th> Prix</th>
                            <th> Catégorie</th>
                            <th> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recette in recettes %}
                            {% if categorie.id == recette.categorie.id %}
                                <tr>
                                    <td><strong>{{ recette.nom }}</strong></td>
                                    <td> {{ recette.description }}</td>
                                    <td>{{ recette.prix|number_format(2, '.') }}€</td>
                                    <td>{{ recette.categorie.name }}</td>
                                    <td style="width: 310px;">
                                        <div class="container row">
                                            <a class="btn btn-info btn-lg m-2"
                                               href="{{ path('admin_voir',{'id': recette.id}) }}"><span
                                                        class="glyphicon glyphicon-eye-open"></span> Voir</a>
                                            <a class="btn btn-primary btn-lg m-2"
                                               href="{{ path('admin_recette_modification',{'id': recette.id}) }}"><span
                                                        class="glyphicon glyphicon-pencil"></span> Modifier</a>
                                            <form method="POST"
                                                  action="{{ path('admin_recette_suppression', {'id': recette.id}) }}">
                                                <input type="hidden" name="_method" value="delete">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('SUP'~recette.id) }}">
                                                <input type="submit" class="btn btn-danger btn-lg m-2" value="Supprimer"
                                                       onsubmit="return confirm('Confirmer?')">
                                            </form>
                                        </div>


                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

