{% extends 'base.html.twig' %}

{% block title %} Admin {% endblock %}

{% block monTitre %}<span class="glyphicon glyphicon-cutlery"></span> {{ recette.nom }} <span
        class="glyphicon glyphicon-cutlery"></span> {% endblock %}
{% block body %}
    <hr>
    <hr>
    <div class="container admin">

        <div class="row ">
            <div class="col-sm-6 p-5">
                <h1><strong> {{ recette.nom }}</strong></h1>
                <br>
                <form>
                    <div class="form-group ">
                        <label>Nom:</label> {{ recette.nom }}
                    </div>
                    <div class="form-group">

                        <label>Description:</label> {{ recette.description }}
                    </div>
                    <div class="form-group">
                        <label>Prix:</label> {{ recette.prix|number_format(2, '.') }} €
                    </div>
                    <div class="form-group">
                        <label>Catégorie: </label> {{ recette.categorie.name }}
                    </div>
                    <div class="form-group">
                        <label>Image:</label> {{ recette.image }}
                    </div>
                </form>
                <br>

                <div class="form-actions">
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_recette') }}"><span
                                class="glyphicon glyphicon-arrow-left"></span> Retour</a>

                </div>
            </div>

            <div class="col-sm-6 p-4 site">
                <div class="thumbnail">
                    <img src="{{ asset('images/'~recette.categorie.name~'/'~recette.image) }}" alt="...">
                    <div class="price">{{ recette.prix|number_format(2, '.') }} €</div>
                    <div class="caption">
                        <h4> {{ recette.nom }}</h4>
                        <p> {{ recette.description }}</p>
                        <a href="#" class="btn btn-order  btn-primary btn-lg" role="button"><span
                                    class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

