{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

    {% block monTitre %}<span class="glyphicon glyphicon-cutlery"></span> Inscription <span
            class="glyphicon glyphicon-cutlery"></span> {% endblock %}

{% block body %}


    <div class="container site admin" style="background: #FF9100">

        <div class="col-sm-6 p-4 mt-5 p-2 rounded " style="font: caption; background: #ffd301">
            {{ form_start(form) }}
            <div> {{ form_row(form.nom, { "attr": {'style': 'font-size:16px', 'placeholder': "Saisir votre nom"}, "label": "Nom*" }) }}</div>
            <div> {{ form_row(form.prenom, { "attr": {'style': 'font-size:16px', 'placeholder': "Saisir votre prenom"}, "label": "Prenom*" }) }}</div>
            <div> {{ form_row(form.username, { "attr": {'style': 'font-size:16px', 'placeholder': "Saisir votre login"}, "label": "Login*" }) }}</div>
            <div> {{ form_row(form.password, { "attr": {'style': 'font-size:16px', 'placeholder': "Saisir votre mot de passe"}, "label": "mot de passe*"}) }}</div>
            <div> {{ form_row(form.verificationPassword, { "attr": {'style': 'font-size:16px', 'placeholder': "Ressaisir  votre mot de passe"},  "label": "Confirmation du mot de passe*"}) }}</div>

            <div class="container text-center mt-5">
                <input type="submit" class="btn btn-success btn-lg p-3" value="Enregistrer">
                {{ form_end(form) }}
            </div>
        </div>

        <div class="col-sm-6 p-4 mt-5 rounded-pill" style="font: caption; background: #ffd301">
            <img class="img-responsive rounded-circle" src="{{ asset('images/home2.jpg') }}" alt="image inscription">
        </div>
    </div>

{% endblock %}


